@import "tailwindcss";



.app{
 
}

.header {
display: flex;
justify-content: space-between;
background-color: #44281c;
}

.navItems{
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.navItems ul{
  list-style: none;
  display: flex;
  flex-direction:row;
  gap: 20px;
  font-size: large;
  font-weight: bold;
  color: #e38123;
}

.body{
  margin: 10px;
  /* border: 2px solid black; */
  height: 80vh;
  /* background-color: rgb(102, 84, 69); */
}

.searchBar{
 margin: 10px;
  border: 2px solid grey;
  width: 90vw;
  height: 5vh;
}
.restaurantContainer{
  margin: 10px;
  /* border: 2px solid black; */
  height: 70vh;
  background-color: white;
  display: flex;
  overflow-x: scroll;
}

.cards{
  margin: 10px;
  width: 20.2vw;
  height: 60vh;
  border-radius: 10px;
}

.cards{
  border: 2px solid gray;
  border-radius: 13px;
}

.cards img{
  border-radius: 10px;
}
.details{
  padding: 15px;
}

.cards:hover{
  transform: scale(1.02);
  /* transform: ; */
  border: 2px solid gray;
  transition:all 200ms;
  box-shadow:7px 7px 10px gray ,-5px -5px 10px gray;
  cursor: pointer;
}

.text{
  font-weight: bolder;
  font-size: 30px;
  padding: 10px 30px;
  text-shadow: 1px 1px 7px gray;
}